[submodule "_third_party/envoy"]
	path = _third_party/envoy
	url = git@github.com:envoyproxy/envoy.git
[submodule "_third_party/envoy-filter-example"]
	path = _third_party/envoy-filter-example
	url = git@github.com:envoyproxy/envoy-filter-example.git
[submodule "_third_party/istio-installer"]
	path = _third_party/istio-installer
	url = git@github.com:istio/installer.git
[submodule "_third_party/envoy-wasm"]
	path = _third_party/envoy-wasm
	url = git@github.com:envoyproxy/envoy-wasm.git
