/lua/redis/lib
/lua/redis/share

/rust/*/target

.vagrant

bazel-*
.luaenv

a.out
a.out.*

.clangd
CMakeCache.txt
CMakeFiles
cmake_install.cmake
compile_commands.json
compile_commands.json.bak
main.plist

/cc/clangd/hello
/cc/clangd/Makefile

/node_modules

/bin/*

# vagrant
ubuntu-bionic-18.04-cloudimg-console.log

/.env
